{% extends "base.html.twig" %}

{% block title %}
    Mes commandes
{% endblock %}

{% block body %}
    <h1>
    Commandes :</h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Adresse</th>
                <th>Date de commande</th>
                <th>Produits</th>
                <th>total</th>
            </tr>
        </thead>
        <tbody>
            
            {% for p in purchases %}
                <tr style="border-bottom: 1px solid #6F42C1;">
                    <td scope="row">{{ p.id }}</td>
                    <td>{{ p.address }} <br> {{ p.postalCode }} <br> {{ p.city }} </td>
                    <td>{{p.purchaseAt |date("d/m/Y")}}</td>
                    <td>
                        <ul>
                            {% for item in p.purchaseItems %}
                                <li>{{item.quantity}} x {{item.productName}} <br> {{item.total / 100}}€</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ p.total /100 }} €</td>
                </tr>
                
            {% endfor %}
        </tbody>
    </table>
{% endblock %}